# For the iCE40HX-8K Breakout Board
set_io R0     P15
set_io G0     R15
set_io B0     P16
set_io R1     M15
set_io G1     N16
set_io B1     M16
set_io CLK_O  J14
set_io LATCH  G14
set_io OE     F14
set_io RA     K15
set_io RB     L16
set_io RC     K16
set_io RD     K14

# Board clock
set_io CLK_I  J3

# Board LEDs:
set_io LED3 A2
set_io LED7 B3
set_io LED2 B4
set_io LED4 A1
set_io LED6 C4
set_io LED8 C3
set_io LED1 B5
set_io LED5 C5
